{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Everest Salsa</title>
 
    
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="{% static 'css/agency.min.css' %}" rel="stylesheet">


    <!-- endbuild -->
</head>

<body id="page-top" class="index">
    <!--[if lt IE 9]>

        <link href="{% static 'css/agency.css' %}" rel="stylesheet">
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand page-scroll" href="#page-top">Everest Salsa </a> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <a class="page-scroll" href="#products">Product</a> </li>
                    <li> <a class="page-scroll" href="#ourstory">Our Story</a> </li>
                    <li> <a class="page-scroll" href="#recipes">Favorites</a> </li>
                    <!--
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    -->
                    <li> <a class="page-scroll" href="#reviews">Reviews</a> </li>
                    <li> <a class="page-scroll" href="#faq">FAQ'S</a> </li>
                    <li> <a class="page-scroll" href="#orderform">Order Form</a> </li>
                    <li> <a class="page-scroll" href="#contact">Contact</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">A Taste of Nepal <img src="images/logos/orange_medium.png" class="img-responsive" align="center" height="55" width="140" alt=""></div> <a href="#products" class="page-scroll btn btn-xl">Our Product</a> </div>
        </div>
    </header>
    <!-- products Section -->
    <section id="products">
        <div class="container">
            <h2 class="section-heading">Product</h2>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> --></div>
            </div>
            <div class="row text-center">
                <div class="col-md-8">
                    <div class="thumbnail"> <img src="images/Salsa/product600x400t.png" class="img-responsive"  alt="">
                        <!--img-rounded center-block -->
                        <div class="caption">
                            <h4 class="text-center">INGREDIENTS:</h4>
                            <!--<h4 class="pull-right">$5.00</h4> -->
                            <p class="text-muted">Tomatoes, Fress Celentro, Olive Oil, Garlic, Onion, Jalapeno Pappers, , Red Chilli Papper, Sichuan Pepper, Salt.</p>
                        </div>
                    </div>
                    <div class="ratings ">
                        <h4 class="pull-right"><a class="page-scroll" href="#reviews">Reviews</a></h4>
                        <p class="pull-left">
                            <a class="page-scroll" href="#reviews"> <span class="glyphicon glyphicon-star"></span> <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star half"></span></a>
                        </br>
                        </p>
                        </br>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div class="caption row justify-content-center align-items-center">
                        </br>
                        </br>
                            <h3 class="service-heading text-center"> <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> FRESH SALSA</h3>
                            <h3 class="service-heading text-center"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> NO PRESERVATIVES</h3>
                            <h3 class="service-heading text-center"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> FRESH INGREDIENTS</h3>
                            <p class="text-left text-muted"></p>
                        </div> <img src="images/logos/green_ex_small.png" class="img-responsive" align="center" alt=""> </div>
                </div>
                <!--
                <div class="col-md-4">
                     <div>

                        <div class="caption"> 
                            <img src="images/Salsa/EverestSalsa 12012017.png" class="img-circle img-responsive" alt="">
                        <h4 class="service-heading text-left">INGREDIENTS:</h4>
                        <p class="text-left text-muted">Tomatoes, Fress Celentro, Olive Oil, Garlic, Onion, Jalapeno Pappers, , Red Chilli Papper, Sichuan Pepper, Salt.</p>
                        </div>
                    </div>

                </div>
                --></div>
        </div>
    </section>
    <!-- Our Stories 

<section id="ourstory">

        <div class="container">
            <div class="row">
                <h2 class="section-heading" >Our Story 
                        <strong></strong>
                        </h2>
                 <div class="col-lg-12 text-center">

                    </div>
                    <div class="caption"> 
                    <strong><p>Everest Salsa is owned and operated by Nabin Shrestha, a data scientist who loves to cook for his family and friends. He lives with his wife, Kerri, and their two boys, Kade and Everest. The title for our salsa was inspired from our first-born’s name, Everest McKinley Shrestha.  His name comes from the highest peak in Nepal and in the U.S.A. It represents our desire to integrate the culture and values of both countries into our children’s lives.  Food is one of the most authentic ways to experience another culture. It is our hope that you will experience a small taste of Nepal through Everest Salsa.
                    </p>

                    <p>
                    The story of Everest Salsa begins in 2007 with our family’s return to the United States. Most of our loved ones were excited to try Nepali food. The aroma of Basmati rice, the spicy vegetables, and chicken curry were a big hit, but the salsa was something special.  Friends began asking if we could bring it as a dip for chips or veggies. Some put it on their burgers, while others mixed it with casseroles and other dishes.  At our house, we like it with eggs in the morning and chips in the evening. It tastes good with just about anything.
                    </p>

                    <p>
                    What is so special about Everest Salsa?  Chutne is a side used in Nepal with most meals. Everest Salsa is a blend of Nepali chutne and our own ideas about what an American might want in their salsa to spice it up a bit. Experience the heat of a cilantro and tomoto based salsa that brings Nepal into our American lives every day. 
                    </P>

                    <p>
                    At this point, Everest Salsa is still a hobby, but we hope that it will become something more for us. If you like Everest Salsa, spread the word.  </p>
                    </strong>

                </div>
            </div>           
        </div>
    </div> 

</section>
-->

   <!-- About Section -->
    <section id="ourstory">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Our Story</h2>
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">Nepal to U.S.</h3> </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"> <img class="img-circle img-responsive" src="images/about/gokyo.png" alt=""> </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007 - 2017</h4>
                                    <h4 class="subheading">Our Hope</h4> </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Everest Salsa is owned and operated by Nabin Shrestha, a Software Engineer who loves to cook for his family and friends. He lives with his wife, Kerri, and their two boys, Kade and Everest. The title for our salsa was inspired from our first-born’s name, Everest McKinley Shrestha. His name comes from the highest peak in Nepal and in the U.S.A. It represents our desire to integrate the culture and values of both countries into our children’s lives. Food is one of the most authentic ways to experience another culture. It is our hope that you will experience a small taste of Nepal through Everest Salsa.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"> <img class="img-circle img-responsive" src="images/about/mugu.png" alt=""> </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2015</h4>
                                    <h4 class="subheading">The business concept was Born</h4> </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The story of Everest Salsa begins in 2007 with our family’s return to the United States. Most of our loved ones were excited to try Nepali food. The aroma of Basmati rice, the spicy vegetables, and chicken curry were a big hit, but the salsa was something special. Friends began asking if we could bring it as a dip for chips or veggies. Some put it on their burgers, while others mixed it with casseroles and other dishes. At our house, we like it with eggs in the morning and chips in the evening. It tastes good with just about anything. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image"> <img class="img-circle img-responsive" src="images/about/yetiair.png" alt=""> </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2017</h4>
                                    <h4 class="subheading">Everest Salsa: "chutne" with an American twist.</h4> </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Chutne is a side used in Nepal with most meals. Everest Salsa is a blend of Nepali chutne and our own ideas about what an American might crave in a salsa. Experience the heat of a cilantro and tomoto based salsa that is based off of one of our favorite Nepali foods. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"> <img class="img-circle img-responsive" src="images/about/chilhawee.png" alt=""> </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2017</h4>
                                    <h4 class="subheading">Hobby to a business</h4> </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At this point, Everest Salsa is still a hobby, but we hope that it will become something more for us. If you like Everest Salsa, spread the word. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part <br>Of Our <br>Story!</h4> </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--End Our Story -->
    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#"> <img src="images/logos/nepaliphotos1.png" class="img-responsive img-centered" alt=""> </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#"> <img src="images/logos/nepaliphotos2.png" class="img-responsive img-centered" alt=""> </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#"> <img src="images/logos/nepaliphotos3.png" class="img-responsive img-centered" alt=""> </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#"> <img src="images/logos/nepaliphotos4.png" class="img-responsive img-centered" alt=""> </a>
                </div>
            </div>
        </div>
    </aside>
    <!-- End Clients Aside -->
    <!-- recipes Grid Section -->
    <section id="recipes" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Favorites</h2>
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading"> Some of our favorites with Everest Salsa.</h3> </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 recipes-item">
                    <a href="#recipesModal1" class="recipes-link" data-toggle="modal">
                        <div class="recipes-hover">
                            <div class="recipes-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div>
                        <!--   <img src="images/portfolio/roundicons.b65c753f.png" --><img src="images/portfolio/momo.png" class="img-responsive" alt=""> </a>
                    <div class="recipes-caption">
                        <h4>Momo</h4>
                        <p class="text-muted">Dip your meats one bite at a time!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recipes-item">
                    <a href="#recipesModal2" class="recipes-link" data-toggle="modal">
                        <div class="recipes-hover">
                            <div class="recipes-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div> <img src="images/portfolio/chowmein.png" class="img-responsive" alt=""> </a>
                    <div class="recipes-caption">
                        <h4>Noodles</h4>
                        <p class="text-muted">Pour it over noodles!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recipes-item">
                    <a href="#recipesModal3" class="recipes-link" data-toggle="modal">
                        <div class="recipes-hover">
                            <div class="recipes-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div> <img src="images/portfolio/burger.png" class="img-responsive" alt=""> </a>
                    <div class="recipes-caption">
                        <h4>Burger</h4>
                        <p class="text-muted">Spread on a burger!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recipes-item">
                    <a href="#recipesModal4" class="recipes-link" data-toggle="modal">
                        <div class="recipes-hover">
                            <div class="recipes-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div> <img src="images/portfolio/omlet.png" class="img-responsive" alt=""> </a>
                    <div class="recipes-caption">
                        <h4>Omlet</h4>
                        <p class="text-muted">Try with an omlet!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recipes-item">
                    <a href="#recipesModal5" class="recipes-link" data-toggle="modal">
                        <div class="recipes-hover">
                            <div class="recipes-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div> <img src="images/portfolio/chips.png" class="img-responsive" alt=""> </a>
                    <div class="recipes-caption">
                        <h4>Chips</h4>
                        <p class="text-muted">Dip your Chips!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 recipes-item">
                    <a href="#recipesModal6" class="recipes-link" data-toggle="modal">
                        <div class="recipes-hover">
                            <div class="recipes-hover-content"> <i class="fa fa-plus fa-3x"></i> </div>
                        </div> <img src="images/portfolio/grilledchicken.png" class="img-responsive" alt=""> </a>
                    <div class="recipes-caption">
                        <h4>Grilled Chicken</h4>
                        <p class="text-muted">Marinate Chicken or Steak!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- reviews Section -->
    <section id="reviews" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Reviews</h2>
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted">What our valuded customer think about the product!</h3> </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="images/reviews/marvin100x100.png" class="img-responsive img-circle" alt="">
                        <h4>Marvin Hudson<p class="text-muted">Photographer</p></h4>
                        <p class="text-muted text-center">"Best there has ever been!" </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="http://via.placeholder.com/100x100" class="img-responsive img-circle" alt="">
                        <h4>Comming Soon...</h4>
                        <p class="text-muted text-justify"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="http://via.placeholder.com/100x100" class="img-responsive img-circle" alt="">
                        <h4>Comming Soon...</h4>
                        <p class="text-muted text-justify"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="http://via.placeholder.com/100x100" class="img-responsive img-circle" alt="">
                        <h4>Comming Soon...</h4>
                        <p class="text-muted text-justify"></p>
                    </div>
                </div>
            </div>
            <!-- add row-->
            <div class="row">
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="http://via.placeholder.com/100x100" class="img-responsive img-circle" alt="">
                        <h4>Comming Soon...</h4>
                        <p class="text-muted text-justify"> </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="http://via.placeholder.com/100x100" class="img-responsive img-circle" alt="">
                        <h4>Comming Soon...</h4>
                        <p class="text-muted text-justify"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="http://via.placeholder.com/100x100" class="img-responsive img-circle" alt="">
                        <h4>Comming Soon...</h4>
                        <p class="text-muted text-justify"></p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="reviewer"> <img src="http://via.placeholder.com/100x100" class="img-responsive img-circle" alt="">
                        <h4>Comming Soon...</h4>
                        <p class="text-muted text-justify"></p>
                    </div>
                </div>
            </div>
            <!--end add row-->
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- end reviews section -->
    <!-- FAQ -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">FAQ's <strong></strong> </h2>
                    <div id="faq-text"> <strong> 
                        <p> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Who do I call if I have problem ordering through the web? </p> 
                        <p class="text-muted"> If you have any difficulties with placing your order, please email at everestsalsa@gmail.com or call at 4233102097. </p> 
                        <p style="background-color:rgb(0, 102, 0), fontcolor"> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Can I freeze the Everest Salsa? </p> 
                        <p class="text-muted"> We do not advise freezing our product. It’s fresh and best consumed within a week or two. </p> 
                        <p> <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> How long does it take to deliver the salsa once an order is placed? </p> 
                        <p class="text-muted">Currently, by-weekly, I make a batch usually (Friday or Saturday) and It can be picked up from my house or I can arrange to deliver based on the situation. </p> 
                        <p><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> I like the taste, but it’s a bit too hot for me. Can you make a mild version? </p> 
                        <p class="text-muted">Yes. If you order at least 5 jars or more. </p> </strong> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FAQ -->
    <!-- image for ourstory -->
    <hr>
    <section id="ourstory-image"> </section>
   
    <section id="orderform">
        <div class="container">
            <div class="row">
                <h2 class="section-heading">Order Form <strong></strong> </h2>
                <div class="col-lg-12 text-center">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSetj2AgIi0dQnW3pxyoBG4N9TRDqLFUBotIWKbEhyrBVtDjqA/viewform?embedded=true#responses" width="760" height="650" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
            </div>
        </div>
    </section>
    <!--contact us -->



    <section id="contact" class="bg-lighter-blue">

        <div class="container">
            <div class="row">
                 <h2 class="section-heading" ><strong>Contact</strong>
                    </h2>
                  
                 <div class="col-lg-4 text-left">
                      <h3 class="section-subheading text-muted">

                             <p>Please use the contact form  if you have any question or requests, concerning our product or service. 
                        <strong>We will respond to your message ASAP.</strong>
                    </p>
                    <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true" ></span>   
                        <strong>423.310.2097</strong>
                    </p>
                     <p>
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><strong>
                        <a href="mailto:everestsalsa@gmail.com">  everestsalsa@gmail.com</a>
                        </strong>
                    </p>
                    <p>
                        <strong></strong>
                    </p>
                    </h3>
         
              </div>
              <div class="col-lg-8 text-left">
                <div>
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZcb5GwAVOnvykF1Fu4a0jxBD7tJ5FeMW6SilR9Ei1N0hDKQ/viewform?embedded=true" width="760" height="450"  frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                </div>
            </div>

           
        </div>
    </div>
</section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <!-- <span class="copyright">Copyright &copy; Everest Salsa 2015</span> --></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/salsaeverest"><i class="fa fa-twitter"></i></a> </li>
                        <li><a href="https://www.facebook.com/Everest-Salsa-174065149632927/info/?tab=page_info"><i class="fa fa-facebook"></i></a> </li>
                        <li><a href="https://www.linkedin.com/in/everest-salsa-174904114"><i class="fa fa-linkedin"></i></a> </li>
                        <li><a href="https://plus.google.com/u/1/116709359059370536255/posts?hl=en"><i class="fa fa-google-plus"></i></a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <!--
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
    </footer>
    <!-- recipes Modals -->
    <!-- Use the modals below to showcase details about your recipes projects! -->
    <!-- recipes Modal 1 -->
    <div class="recipes-modal modal fade" id="recipesModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Nepali Momo</h2>
                            <p class="item-intro text-muted">Recipe Comming Soon...</p> <img class="img-responsive img-centered" src="images/portfolio/momo.png" alt="">
                            <p>Bear with us!</p>
                            <p>
                                <!--
                                <strong>Want these icons in this recipes item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
                                  
                                <ul class="list-inline">
                                    <li>Date: 2017</li>
                                    <li>Item: Momo</li>
                                    <li>Category: Asian Food</li>
                                </ul>
                                -->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recipes Modal 2 -->
    <div class="recipes-modal modal fade" id="recipesModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Noodles</h2>
                            <p class="item-intro text-muted">Recipe Comming Soon...</p> <img class="img-responsive img-centered" src="images/portfolio/chowmein.png" alt="">
                            <!--
                            <p>
                                <a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a href="http://designmodo.com/startup/?u=787">here</a>.</p>
                        -->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recipes Modal 3 -->
    <div class="recipes-modal modal fade" id="recipesModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Burger</h2>
                            <p class="item-intro text-muted">Recipe Comming Soon...</p> <img class="img-responsive img-centered" src="images/portfolio/burger.png" alt="">
                            <!--
                            <p>Treehouse is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.</p>
                            <p>You can download the PSD template in this recipes sample item at <a href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.</p>
                        -->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recipes Modal 4 -->
    <div class="recipes-modal modal fade" id="recipesModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Omlet</h2>
                            <p class="item-intro text-muted">Recipe Comming Soon...</p> <img class="img-responsive img-centered" src="images/portfolio/omlet.png" alt="">
                            <!--
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great recipes, timeline, and meet your team sections that can be easily modified to fit your needs.</p>
                            <p>You can download the PSD template in this recipes sample item at <a href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        -->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recipes Modal 5 -->
    <div class="recipes-modal modal fade" id="recipesModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Chips</h2>
                            <p class="item-intro text-muted">Recipes Comming Soon...</p> <img class="img-responsive img-centered" src="images/portfolio/chips.png" alt="">
                            <!--
                            <p>Escape is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your products.</p>
                            <p>You can download the PSD template in this recipes sample item at <a href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.</p>
                        -->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- recipes Modal 6 -->
    <div class="recipes-modal modal fade" id="recipesModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"> </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Grilled Chicken</h2>
                            <p class="item-intro text-muted">Recipe Comming Soon...</p> <img class="img-responsive img-centered" src="images/portfolio/grilledchicken.png" alt="">
                            <!--
                            <p>Dreams is a free PSD web template built by <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a modern one page web template designed for almost any purpose. It’s a beautiful template that’s designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this recipes sample item at <a href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.</p>
                        -->
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- build:js(.) scripts/vendor.js -->
   

<!-- endbuild -->

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
-->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/agency.min.js' %}"></script>



    </body>
</html>